/* Some global variables */
:root{
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);   
    --white: hsl(0,0%,100%);   
    --grey: #333333;
}

/* global styles */
*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body{
    size: 100%;
    background-color: var(--violet);
    background-image: url("../images/bg-mobile.svg");
    background-repeat: no-repeat; 
    padding: 10px 35px ; 
     
}
@media screen and (min-width: 500px){
    body{
        background-image: url("../images/bg-desktop.svg");
        padding: 35px 80px ; 
    }    
}

.logo{
    width: 128px;
    padding: 25px 0;
}
@media screen and (min-width: 500px){
    .logo{width: 770px;
        width: 215px;
        padding: 25px 0;
    }
} 

.main{
    padding: 30px 0;
}
@media screen and (min-width: 500px){
    .main{
        display:flex;   
        justify-content: flex-start;   
        padding: 50px 0 25px;       
    }
}

.illustration{
    width: 300px;
}
@media screen and (min-width: 500px){
    .illustration{
        width: 695px; 
    }
}

.explanation{      
    padding: 45px  0;
    color: var(--white);       
    text-align:center;  
}@media screen and (min-width: 500px){
    .explanation{
        padding: 45px 0px 45px 55px;        
    }
}

.explanation > h1{
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
    margin: 10px 0;
}@media screen and (min-width: 500px){
    .explanation > h1{         
        font-size: 2.5em;   
    }    
}

.explanation > p {
    font-family: "Open Sans";     
    font-weight: 400;
    text-align: center;
    margin: 10px 0;  
    line-height: 1.75;
    padding: 10px 0;
}@media screen and (min-width: 500px){
    .explanation > p {
        font-family: "Open Sans";
        font-size: 1.1em;    
        padding: 20px 0;
        line-height: 1.75;        
    }
}

.explanation > .btn {
    box-shadow: 5px 5px 10px var(--grey);
    border-radius: 30px;
    font-family: "Poppins";
    color: var(--violet);
    font-size: 1em;
    background: var(--white);    
    text-decoration: none;
    border: none;
    padding: 10px 75px;
    margin: 5px 0;
}@media screen and (min-width: 500px){
    .explanation > .btn {    
        padding: 15px 67px;
    }
}
    
.explanation >  .btn:hover {   
    background: var(--soft-magenta);
    text-decoration: none;
}

.social-icons{   
    color: var(--white);
    display:flex;
    justify-content: center;    
    margin-bottom: 50px;
}@media screen and (min-width: 500px){
    .social-icons {    
        justify-content: flex-end;
        margin-bottom: 15px;        
    }
}

.icon-container
{
    height: 30px;
    width: 30px;
    border: 1px solid var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
     
}@media screen and (min-width: 500px){
    .icon-container { 
        height: 40px;
        width: 40px;   
        margin-left: 15px;           
    }
}

.icon-container:hover {   
    color: var(--soft-magenta); 
    border-color: var(--soft-magenta);
}

.footer{
    text-align: center;
}

.attribution { font-size: 0.5em; text-align: center; }
.attribution a { font-size: 1em; color: hsl(216, 45%, 44%); }